body {
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
	
.form_col {
    display: inline-block;
    margin-right: 15px;
    padding: 3px 0px;
    width: 200px;
    min-height: 1px;
    text-align: right;
}
	
input {
	padding: 5px;
	border: 1px solid rgb(150, 233, 229);
	border-radius: 2px;
	outline: none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}
	
input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

form {
    border-radius: 5px;
    background-color: #ffffffec;
    padding: 15px;
    width: 80%; 
    margin: 10%
}

textarea {
    width: 85%;
}
	
.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
	
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
	
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
	
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}







































.html {
    background-color: rgb(145, 81, 81);
}



























.h1 {
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin: 5%;
    padding: 15px;
}

li {
    display: inline;
}

.ul1 {
    font-size: 40px;
    margin-top: 30px;
}

.img1 {
    margin-left: 150px;
    margin-bottom: 75px;
    border-radius: 56px;
}

.hhh {
    font-size: 20px;
}

.hh {
    font-size: 20px;
}

.h2 {
    font-size: 30px;
    margin-left: 150px;
    margin-bottom: 37px;
}

.h3 {
    font-size: 30px;
    margin-left: 150px;
    margin-bottom: 37px;
}

.footer {
    height: 120px;
    position: bottom;
    background-image: url(gamaxy1.jpg);
    border-radius: 25px;
}

.footer a {
    padding: 5px;
    font-size: 40px;
    text-decoration: none;
}

a:hover {
    background-color: lightgray;
}
