.html {
    background-color: rgb(215, 179, 230);
}

@font-face {
    font-family: "diablo";
    src: url("diablo.ttf") format("truetype");
}

.h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

.h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: auto;
}

li {
    display: inline;
}

.img1 {
    width: 300px;
    padding: auto;
}

.footer {
    height: 120px;
    position: bottom;
    background-image: url(gamaxy1.jpg);
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.footer a {
    text-decoration: none;
    font-size: 40px;
}