@media screen {
    .html, .Menu, .Menu a, h1, h2, h3, .container {
        font-size: 15px;
        flex-direction: column;
    }
}

@media screen {
    #img1, #img2, img3 {
        width: 50%;
        padding: 25%;
    }
}

@media screen {
    .Menu {
        display: flex;
        flex-direction: row;
    }
}