.html {
    margin: auto;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.Menu {
    position: top;
    background-image: url(gamaxy1.jpg);
    border-radius: 25px;  
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    padding: 10%;
}


li {
    font-size: 24px;
    display: inline;
    padding: 10%;
}

.sec {
    flex: wrap;
}

img {
    width: 300px;
    padding: 10%;

p {
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    font-size: 25px;
    font-style: italic;
    margin: auto;
    padding: 10%;
}

h1, h2, h3 {
    margin: auto;
    font-size: 24px;
    width: auto;
    padding: 10%;
}

.Menu a {
    text-decoration: none;
    font-size: 40px;
    color: rgba(38, 179, 125, 0.788);
}

.a1:hover {
    background-color: lightgray;
}

.a2:hover {
    background-color: lightgray;
}

.a3:hover {
    background-color: lightgray;
}

.a4:hover {
    background-color: lightgray;
}

.a5:hover {
    background-color: lightgray;
}

